@media screen and (max-width: 900px){
    .popup-menu {
        overflow-y: scroll;
        width: 0;
        height: 0;
    }
    .popup-menu.show {
        min-width: 100vw !important;
        left: 0;
    }
    .filter-wrapper {
        padding-top: 1em;
    }
    .filter-close {
        align-self: center;
        justify-self: center;
        position: inherit;
        border-radius: var(--border-radius);
        background-color: var(--color-light);
        color: var(--color-dark);
        padding: 1em;
    }
    body {
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
}