@import url('./vars.css');
@media(hover:hover) and (pointer: fine){
    .button:hover{
        background-blend-mode: darken;
        animation: transfusionIn var(--animation-duration) ease;
        animation-fill-mode: forwards;
    }
    .button:hover .button__text {
        animation: transfusionIn var(--animation-duration) ease;
        animation-fill-mode: forwards;
    }
}
.button {
    min-width: max-content;
    border-radius: var(--border-radius);
    transition: content 0.5s;
    padding: 1em 2em;
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, var(--color-dark) 0%, var(--color-dark) 50%, var(--color-light) 50%, var(--color-light) 100%);
    background-position-x: 0%;
    background-size: 200% 100%;
    animation: transfusionOut var(--animation-duration) ease;
    animation-fill-mode: forwards;
}
.button__text{
    background: linear-gradient(to right, var(--color-light) 0%, var(--color-light) 50%, var(--color-dark) 50%, var(--color-dark) 100%);
    background-size: 200% 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: transfusionOut var(--animation-duration) ease;
    animation-fill-mode: forwards;
}

@keyframes transfusionIn {
    from { 
        background-position-x: 0%;
    }
    to { 
        background-position-x: -99%;
    }
}

@keyframes transfusionOut {
    from { 
        background-position-x: -100%;
    }
    to { 
        background-position-x: 0%;
    }
}