.card {
    display: flex;
    width: max-content;
    flex-direction: column;
}
.card * {
    border-radius: var(--border-radius);
}
.card__body {
    padding: 5px;
    margin-top: 10px;
    min-height: 1.5em;
    font-weight: 500;
    font-size: 1.5rem;
    max-width: 100vw;
    display: flex;
}
.card__title{
    text-align: center; 
    min-height: 2rem;
}
.card__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card__copy{
    width: 32px;
    height: 32px;
    margin-left: .5rem;
}

.card__image img{
    object-fit: contain;
    width: 200px;
    height: 300px;
}

.button_wrapper{
    display: grid;
    grid-template-columns: 3em auto 3em;
    align-items: center;
}