/* wrapper */
.filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: var(--color-dark);
}
.filter-close {
    position: absolute;
    top: .5em;
    left: .5em;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--color-light);
}
.icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* main */
.genre-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: .7em;
    margin: .5em;
    width: 15%;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.genre-icon img {
    width: 100%;
    height: 100%;
    z-index: 999;
}
.genre-icon .img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.genre-icon .img-wrapper .selector{
    width: 0;
    height: 0;
    position: absolute;
    border-radius: var(--border-radius);
    background-color: var(--color-light);
    /* animation: popupOut .5s ease; */
    
}
.genre-icon p {
    margin-top: 1em;
    color: var(--color-light);
    z-index: 9999;
    white-space: nowrap;
}

/* active */
.genre-icon.active img {
    object-fit: cover;
}
.genre-icon.active p {
    color: var(--color-dark);
}
.genre-icon.active .img-wrapper .selector{
    animation: fillIn 1s ease;
    animation-fill-mode: forwards;
}

/* fade */
.genre-icon .img-wrapper .selector.fade{
    animation: fillOut .5s ease;
}

 /* hover */
@media(hover:hover) and (pointer: fine){
    .genre-icon:hover:not(.active) .img-wrapper .selector:not(.fade){
        animation: popupIn .2s ease;
        animation-fill-mode: forwards;
    }
}

/* popup */
@keyframes popupIn {
    from {
        height: 0;
        width: 0;
    }
    to {
        height: 120%;
        width: 120%;
    }
}
@keyframes popupOut {
    from {
        height: 100%;
        width: 100%;
    }
    to {
        height: 0;
        width: 0;
    }
}

/* fill */
@keyframes fillIn {
    from {
        height: 0;
        width: 0;
    }
    to {
        height: 500%;
        width: 500%;
    }
}
@keyframes fillOut {
    from {
        height: 500%;
        width: 500%;
    }
    to {
        height: 0;
        width: 0;
    }
}


