.popup-menu {
    transition: left .2s ease;
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.popup-menu.show {
    transition: left .2s ease;
    opacity: 1;
    left: 70%;
    width: 30%;
    min-height: 100vh;
}