.skeleton {
    background-position: 0% 100%;
    background-size: 200% 200%;
    background-image: linear-gradient(to right, hsl(200, 20%, 95%) 0%, hsl(200, 20%, 95%) 30%, hsl(200, 20%, 90%) 50%, hsl(200, 20%, 95%) 70%, hsl(200, 20%, 95%) 100%);
    animation: skeleton-loading 2s ease infinite;
}


@keyframes skeleton-loading {
    0%{
        background-position-x: 150%;
    }
    100% {
        background-position: -50%;
    }
}